

.octopus {
	position: absolute;
	top: 100px;
	left: 420px;
	
}

#glasses {
	position: absolute;
	margin-top: 193px;
	margin-left: 450px;
	z-index: +1;
}

#hat {
	position: absolute;
	margin-left: 390px;
	margin-top: 20px;
	z-index: +1;
}



